.border{
    padding: 10px 20px;
}
.container .border {
max-width: 600px;
margin: 0 auto;
}

.current-temperature{
    font-size: 60px;
display: inline;
}
.github{
    max-width: 600px;
margin: 0 auto;
}
.weather-symbol{
    width: 30px;
    vertical-align: 30px
}

.units{
font-size: 15px;    
vertical-align: 40px ;
}