.border{
    padding: 10px 20px;
}
.container .border {
max-width: 600px;
min-width: 500px;
margin: 0 auto;
}

.current-temperature{
    font-size: 60px;
display: inline;
}
.current-weather{
    display: inline;
}
.github{
    max-width: 600px;
    min-width: 500px;
margin: 0 auto;
}
.weather-icon{
    width: 80px;
    vertical-align: 5px
}

.units{
font-size: 15px;    
vertical-align: 40px ;
}